.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  background-color: rgba(23, 21, 21, 0.7);
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__right {
  display: flex;
}

.navbar__logo {
  height: 25px;
  margin-right: 10px;
}

.navbar__like {
  margin-top: 5px;
  height: 22px;
  margin-right: 10px;
}

.navbar__region {
  height: 35px;
  margin-right: 10px;
}

.navbar__cart {
  height: 30px;
  margin-right: 10px;
}

.navbar__profile {
  margin-top: 2px;
  height: 24px;
  margin-right: 10px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .navbar__left,
  .navbar__right {
    margin-top: 10px;
  }

  .navbar__logo,
  .navbar__like,
  .navbar__region,
  .navbar__cart,
  .navbar__profile {
    margin-right: 5px;
  }
}

/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    background-color: rgba(23, 21, 21, 0.7);
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__right {
    display: flex;
  }
  
  .navbar__logo {
    height: 25px;
    margin-right: 10px;
  }

  .navbar__like {
    margin-top: 5px;
    height: 22px;
    margin-right: 10px;
  }
  .navbar__region{
    height: 35px;
    margin-right: 10px;
  }
  .navbar__cart{
    height:30px;
    margin-right: 10px;
  }
  .navbar__profile{
    margin-top: 2px;
    height: 24px;
    margin-right: 10px;
  }

  
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 15px;
  }

  .navbar__left,
  .navbar__right {
    margin-top: 10px;
  }

  .navbar__logo,
  .navbar__like,
  .navbar__region,
  .navbar__cart,
  .navbar__profile {
    margin-right: 5px;
  }
} */
